[Unit]
Description=Getty on %I
DefaultDependencies=no

[Service]
Environment=TERM=xterm-256color
ExecStart=-/sbin/agetty -o '-- \\u' --noclear - ${TERM}
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
StandardInput=tty
StandardOutput=tty
TTYPath=/.bottlerocket/rootfs/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
WantedBy=admin.target
